.hip-service-settings #feedback {
    display: block;
    position: fixed;
    top: 50px;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0
}
.hip-service-settings #feedback p {
    font-size: 1.3em;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}
.hip-service-settings #feedback p.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}
.hip-service-settings #feedback p.failure {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}