@media (max-width: 992px) {
    .homepage-services-headline{
        text-align: center;
    }
    .homepage-services-headline:after{
        left: 25%;
    }
    .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap {
        margin-left: 30px;
        margin-right: 30px;
    }
    .homepage-services-services-inner-wrap a{
        padding-left: 10px;
        color: #5f3b2a;
        font-size: 22px;
        font-weight: 600;
    }
    .homepage-services-service-inner{
        background-color: #e6e5e1;
    }
    .homepage-services-service-description{
        color: #965f48;
        padding-left: 10px;
        padding-right: 10px;
    }
    .homepage-services-service-button{
        display: block;
    }
    .homepage-services-service-button a{
        color: #fff;
    }
}
.homepage-services-wrap {
    display: block;
    position: relative;
    overflow: hidden;
}
.homepage-services-wrap .homepage-services-inner-wrap {
    margin: 20px;
    color: #000;
    font-size: 1.2em;
    line-height: 1.4;
}
.homepage-services-wrap .homepage-services-inner-wrap h2 {
    font-size: 2.1em;
    line-height: 1.2;
    font-weight: bold;
}
.homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap {
    margin-top: 20px;
}
.homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service {

}
.homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service .service-arrow {
    width: 10px;
    height: auto;
    transition: transform 0.3s ease-in-out 0s;
}
.homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service.active .service-arrow {
    transform: rotate(270deg);
}
.homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service .homepage-services-service-title a {
    display: block;
}
.homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service .homepage-services-service-title a span {
    vertical-align: middle;
    display: inline-block;
    width: calc( 100% - 25px );
}
.homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service .homepage-services-service-title a img {
    vertical-align: middle;
    transform: rotate(90deg);
}
.homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service .homepage-services-service-inner, .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service .homepage-services-service-image {
    display: none;
}
.homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service .homepage-services-service-inner {
    padding: 20px 5px;
    text-align: center;
}
@media screen and (min-width: 480px) {
    .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service .homepage-services-service-inner .homepage-services-service-description {
        text-align: left;
    }
}
.homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service .homepage-services-service-button {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 20px auto 0px;
}
@media screen and (min-width: 480px) {
    .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service .homepage-services-service-button {
        width: auto;
        display: inline-block;
    }
}
@media screen and (min-width: 993px) {
    .homepage-services-wrap .homepage-services-inner-wrap {
        width: 50%;
        margin: 0;
        box-sizing: border-box;
        float: left;
    }
    .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-inner-inner-wrap {
        float: right;
        width: 100%;
        max-width: 550px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .homepage-services-wrap .homepage-services-inner-wrap h2 {
        font-size: 2.1em;
        line-height: 1.1;
    }
    .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-headline, .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-description {
        padding-right: 20px;
    }
    .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service .homepage-services-service-title {
        border-bottom: 1px solid #e6e5e1;
        padding: 10px 5px;
        opacity: 0;
        transition: opacity 200ms ease 0s, transform 200ms ease 0s, background 200ms ease 0s;
        z-index: 111;
        -webkit-transform: translate(80px, 0px);
        transform: translate(80px, 0px);
        line-height: 2;
    }
    .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service .homepage-services-service-title img {
        display: none;
    }
    .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service.in-view .homepage-services-service-title {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        transform: translateX(0px) translateY(0px) translateZ(0px);
    }
    .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service.active .homepage-services-service-title:after {
        opacity: 1;
    }
    .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service.active .homepage-services-service-image {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        z-index: 50;
    }
    .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service.active .homepage-services-service-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-services-inner-wrap .homepage-services-service.active .homepage-services-service-inner {
        display: block !important;
        position: absolute;
        left: 50%;
        z-index: 100;
        top: 0;
        height: 100%;
        width: 50%;
        padding: 60px;
        text-align: left;

    }
}
@media(min-width: 993px) and (max-width: 1200px){
    .homepage-services-wrap .homepage-services-inner-wrap .homepage-services-inner-inner-wrap {
        padding-left: 30px;
    }
}
